@charset "utf-8";

/* 팝업 영역 */
.pop{
    width: 100%;
    height: 100px;
    position: relative;
    display: none;
}
.pop a{
    display: block;
    height: 100px;
    background:url("../img/svglf4a27GeoRtWY_20160126.jpg") no-repeat center center;
    background-size: cover;
    text-indent: -9999px;
}
.pop_inner{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    text-align: right;
}
.pop_inner button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 25px;
    /* border: 1px saddlebrown solid; */
}
/* 헤더영역 */

#header{
    width: 100%;
    height: 103px;
    position: relative;
    z-index: 30;
}
.logo{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);

}
.logo a{
    display: block;
    width: 101px;
    height: 101px;
    background:url("../img/coffinegurunaru.png") ;
    text-indent: -9999px;
}
.header_b{
    width: 100%;
    height: 103px;
    background:url("../img/header_bg.png") repeat-x ;
}
.header_inner{
    width: 1000px;
    margin: 0 auto;
}
.util{
    /* border: 1px solid darkblue; */
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
}
.util li{
margin: 10px 0 0 10px;
}
.util li a{
    display: block;
    color: #a2a2a2;
    font-size: 12px;
    padding: 3px 10px;
}

.util li a:hover {
    color: white;
}
.util li.util3 a{
    background-color:#b5b4af ;
    border-radius: 10px;
    color: #2b2b2b !important; 
    font-weight: bold;
}
.util li.util4 a{
    background-color: #652f91;
    border-radius: 10px;
    font-weight: bold;
    color: white !important;
}
/* gbn영역 */
.gnb{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.gnb > ul{
    display: flex;
    width: 45%;
    /* border: 1px solid red   ; */
}
.gnb > ul > li{
    position: relative;
    /* border: 1px solid orange; */
}
.gnb > ul > li > a{
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    position: relative;
}
.gnb > ul > li > a::after{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    /* background-image: url("../img/gnb_line.gif") ; */
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
}

.gnb > ul > li:last-child > a::after{
    display: none;
}
.gnb > ul .g1{
    width: 110px;
}
.gnb > ul .g2{
    width: 90px;
}
.gnb > ul .g3{
    width: 130px;
}
.gnb > ul .g4{
    width: 150px;
}
.gnb > ul .g5{
    width: 140px;
}
.gnb > ul .g6{
    width: 150px;
}
.gnb > ul .g7{
    width: 150px;
}
.sub{
    position: absolute;
    width: 100%;
    /* border: 1px solid darkblue; */
    top: 60px;
    left: 0;
    text-align: center;
}

.sub li a{
    display: block;
    font-size: 13px;
    color: #eee;
    line-height: 30px;
    /* border: 1px solid green; */
    /* margin-top: 5px; */
}
.sub li.sub_3 a{
    line-height: 15x !important;
    /* border:  1px solid rebeccapurple; */
}

.sub li:hover{ background-color: rgb(167, 82, 167);}
.gnb > ul > li:hover> a{
    color: #652f91;
}


/* main 영역 */


#main{
    width: 100%;
}
/* main_visual */
.main_visual{
    width: 100%;
    height: 620px;
    /* border: 1px solid saddlebrown; */
    margin-top: -103px;
}
.move{
    width: 100%;
    height: 620px;
}
.move .slick-slide{
    height: 620px;
}
.move a{
    display: block;
    width: 100%;
    height: 620px;
    /* text-indent: -9999px !important; */
}

.main1 a{
    background: url("../img/BQkf2vbYoEGq6lZ4_20231207.png"), no-repeat;
    background-size: cover;
    background-position: center top;
}
.main2 a{
    background: url("../img/boO8MUInqa6CPQcJ_20230925.png"), no-repeat;
    background-size: cover;
    background-position: center top;
}
.main3 a{
    background: url("../img/m4uE1HFDqbY8tval_20230719.jpg"), no-repeat;
    background-size: cover;
    background-position: center top;

}
.main4 a{
    background: url("../img/A0qi1eb9wvEGxnmX_20230719.jpg"), no-repeat;
    background-size: cover;
    background-position: center top;
    
}
.main5 a{
    background: url("../img/CoqSr9yH7bvOVPpt_20230719.jpg"), no-repeat;
    background-size: cover;
    background-position: center top;

}
.main6 a{
    background: url("../img/sMkbYCLarlo0f7Ow_20160204.jpg"), no-repeat;
    background-size: cover;
    background-position: center top;

}

.move .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    text-align: center;
}
.move .slick-dots li{
    display: inline-block;
    margin: 4px
}
.move .slick-dots li button{
    display: block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    text-indent: -9999px;
    background-image: url("../img/main_visual_pager_off.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.move .slick-dots li.slick-active button{
    background-image: url("../img/main_visual_pager_on.png");
    background-repeat: no-repeat;
}

.move .slick-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 89px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    text-indent: -9999px;
}
.move .slick-arrow.slick-prev{
    background-image: url("../img/main_visual_prev.png");
    background-repeat: no-repeat;
    margin-left: -600px;
}
.move .slick-arrow.slick-next{
    background-image: url("../img/main_visual_next.png");
    background-repeat: no-repeat;
    margin-left: 600px;
}

/* section1영역 */
.section1{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 100px 0;
}
.section1 > div{
    height: 416px;

}
.section1 > div ul{}
.section1 > div ul li{}
.section1 > div ul li:first-child{
    font-size: 30px;
    font-weight: 700;
    color: #3f3f3f;
    margin-bottom: 15px;
}
.section1 > div ul li:nth-child(2){
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}
/* section2 영역 */
.section2{
    width: 100%;
    background-color: #f5f1e8;
    height: 729px;
}
.section2_inner{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}
.section2_inner h2{
    text-align: center;
    font-size: 40px;
    color: #444;
    /* border: 1px solid darkblue; */
    margin-bottom: 30px;
    background: url("../img/main_menu_title_line.png") no-repeat center center;
}
.section2_inner h2 span{
    font-weight: 300;
    font-size: 35px;
}
.best{
    background: url("../img/main_menu_best_bg.png") no-repeat;
    /* border: 1px solid red; */
    width: 536px;
    height: 494px;
    float: left;
}
/* new 영역 */
.new{
    width: 420px;
    /* border: 1px saddlebrown solid; */
    float: right;
    height: 494px;
}
.new_list{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.new_list > li{
    width: 47%;
    /* border: 1px solid darkblue; */
    background-color: white;
    height: 48%;
    position: relative;
    text-align: center;
}
.new_list > li::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid orange;
    position: absolute;
    left: 0;top: 0;
    display: none;
    transition: all 0.3s;
    box-sizing: border-box;
}
.new_list > li:hover::before{
    display: block;
}
.new_list > li ul li:nth-child(1) img{
    position: absolute;
    right: 10px;
    top: 10px;
}
.new_list > li ul li:nth-child(2) img{
    width: 90%;
}
.new_list > li ul li:nth-child(3) {
    margin-bottom: 3px;
}
/* section3 영역 */
.section3{
    background-color: #413332;
    height: 216px;
    width: 100%;
}
.section3_inner{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.section3_inner h2{
    color: white;
    font-size: 30px;
    padding: 50px 0 15px 0;
    font-weight: 500;
}
.section3_inner p{
    font-size: 13px;
    color: gainsboro;
    margin-bottom: 15px;
}
.section3_inner a{
    color: white;
    display: block;
    width: 100px;
    height: 25px;
    background-color: #3f3f3f ;
    line-height: 25px;
    font-size: 12px;
    text-align: center;

}
.section3_inner img{
    position: absolute;
    right: 0;
    bottom: 0;
}
/* section4 영역 */
.section4{
    /* background-color: #f5f1e8; */
}
.section4_inner{
    width: 1000px;
    margin: 70px auto;
    height: 410px;
    display: flex;
}
.s4_left{
    width: 250px;
    height: 100%;
}


.s4_left_move{
    height: 410px;
}
.s4_left_move .slick-slide{}
.s4_left_move .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}
.s4_left_move .slick-dots li{}
.s4_left_move .slick-dots li button{
    display: block;
    width: 14px;
    height: 14px;
    border: none;
    background-image: url("../img/main_article_pager_off.png");
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.s4_left_move .slick-dots li.slick-active button{
    background-image: url("../img/main_article_pager_on.png");
}

.s4_middle{
    width: 271px;
    height: 410px;
}
.s4_middle_top{
    height: 205px;
    background-color: #6c5647;
    padding: 30px;
}
.s4_middle a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}
.s4_middle_top h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.s4_middle p{
    font-size: 14px;
    color: #a2a2a2;
    line-height: 20px;
}
.s4_middle img{
    position: absolute;
    right: 0;top: 0;
}

.s4_middle_bottom{
    height: 205px;
    background-color: #f7f7f7;
    padding: 30px;
}
.s4_middle_bottom h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_right{
    width: 479px;
    height: 410px;
    background-image: url("../img/main_article_section3.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.s4_right_coff{
    width: 251px;
    height: 205px;
    background-color: #424242;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    color: white;
}
.s4_right a{
    display: block;
    height: 100%;
    position: relative;
}
.s4_right a h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.s4_right a p{
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -1px;
}
.s4_right a img{
    position: absolute;
    right: 0;
    top: 0;
}

/* section5 영역 */
.section5{
    background-color: #f1f1f1;
    height: 192px;
    padding: 70px 0;
}
.section5_inner{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    background-image: url("../img/main_sns_tab.gif");
    background-repeat: no-repeat;
}
.section5_inner ul{}
.section5_inner ul li{
    width: 240px;
    height: 52px;float: left;
}
.section5_inner ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 52px;
    text-align: center;
    font-size: 22px;
}
.section5_inner ul li.on a{
    background-image: url("../img/main_sns_tab_on.gif");
}
/* footer 영역 */
#footer{
    background-color: #444;
}
.footer_inner{
    width: 1000px;
    margin: 30px auto 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.f_logo{
    width: 62px;
    height: 62px;
}
.f_middle{
    /* border: 1px solid darkblue; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}
.f_middle ul{
    display: flex;
}
.f_middle ul li{
    margin-right: 20px;
}
.f_middle ul li a{
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
}
.f_gnb1 a{
    color: white;
    padding: 0 10px;
}
.f_gnb2 a{
    color: #a2a2a2;
    border-radius: 20px;
    background-color: #2f2f2f;
    padding: 0 10px;
}
.address{
    color: #a2a2a2;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.5;
}
.address address{

    font-style: normal;
}
.address p{}


.f_sns{}
.sns{
    display: flex;
}
.sns li{
    margin-left: 10px;
}
.sns li a{
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
}
.sns li a.fa{
    background-image: url("../img/ft_sns_facebook.png");
}
.sns li a.in{
    background-image: url("../img/ft_sns_instagram.png");

}
.f_sns .sp{
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    background-image: url("../img/ft_speaker.png");
    float: right;
    margin-top: 10px;
}

/* quick 영역 */
.quick{ 
width: 50px;
height: 220px;
position: fixed;
right: 0;
top: 103px;
z-index: 500;
}

/* answer 영역 */
.answer{
    width: 200px;
    height: 440px;
    background-color: #9364b4;
    position: fixed;
    top: 45%;
    right: 100px;
    z-index: 400;
    text-align: center;
}
.answer_inner{
    height: 409px;
    padding: 15px 10px;
}
.answer_inner h3{
    color: #b4f6ff ;
    font-size: 22px;
    font-weight: 800;
}
.answer_inner > p{
    color: white;
    font-size: 22px;
    margin: 5px 0 10px;
    font-weight: bold;
}
.info input{
    display: block;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}
.info textarea{
    display: block;
    width: 100%;
    height: 95px;
    padding: 10px;
    margin-bottom: 10px;
}
.info input::placeholder{
    font-size: 15px;
    color: #333;
}
.info textarea::placeholder{
    font-size: 15px;
    color: #333;
}
.check{
    display: flex;
    justify-content: space-between;
}
.check a{
    font-size: 15px;
    color: white;
}
.check span{}
.check span input{
    display: block;
    width: 15px;
    height: 15px;
}
.info > form > button{
    color: #b4f6ff;
    background-color: transparent;
    border: none;
    text-align: left;
    display: block;
    font-weight: bold;
}
.send{
    margin-top: 10px;
}
.send button{
    border: none;
    background-color: #56257e;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.top{
    height: 31px;
    background-color: #000;
    width: 100%;
}
.top button{
    display: block;
    width: 100%;
    height: 31px;
    line-height: 31px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
}
.top button img{
    vertical-align: middle !important;
}